.app {
margin : 0;
height: 100vh;
height:100%;
}

.app_header{
object-fit: contain;
background-color: white;
padding: 20px;
border-bottom: 1px solid lightgray;
}

.app_headerImage{
    background-color: #fafafa  
}
